html,
body,
div,
span,
header,
main,
footer,
nav,
ul,
ol,
li,
a,
b,
hr,
p,
strong,
ins,
del,
s,
i,
em,
u,
button,
img,
textarea,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Microsoft JhengHei",sans-serif;
  color: inherit;
  vertical-align: bottom;
}

img {
  width: 100%;
}

/* padding */
.p-1 {
  padding: calc(1 * 1em);
}

.p-2 {
  padding: calc(2 * 1em);
}

.p-3 {
  padding: calc(3 * 1em);
}

.p-4 {
  padding: calc(4 * 1em);
}

.p-5 {
  padding: calc(5 * 1em);
}

.p-t-1 {
  padding-top: calc(1 * 1em);
}

.p-t-2 {
  padding-top: calc(2 * 1em);
}

.p-t-3 {
  padding-top: calc(3 * 1em);
}

.p-t-4 {
  padding-top: calc(4 * 1em);
}

.p-t-5 {
  padding-top: calc(5 * 1em);
}

.p-r-1 {
  padding-right: calc(1 * 1em);
}

.p-r-2 {
  padding-right: calc(2 * 1em);
}

.p-r-3 {
  padding-right: calc(3 * 1em);
}

.p-r-4 {
  padding-right: calc(4 * 1em);
}

.p-r-5 {
  padding-right: calc(5 * 1em);
}

.p-b-1 {
  padding-bottom: calc(1 * 1em);
}

.p-b-2 {
  padding-bottom: calc(2 * 1em);
}

.p-b-3 {
  padding-bottom: calc(3 * 1em);
}

.p-b-4 {
  padding-bottom: calc(4 * 1em);
}

.p-b-5 {
  padding-bottom: calc(5 * 1em);
}

.p-l-1 {
  padding-left: calc(1 * 1em);
}

.p-l-2 {
  padding-left: calc(2 * 1em);
}

.p-l-3 {
  padding-left: calc(3 * 1em);
}

.p-l-4 {
  padding-left: calc(4 * 1em);
}

.p-l-5 {
  padding-left: calc(5 * 1em);
}

/* margin */
.m-1 {
  margin: calc(1 * 1em);
}

.m-2 {
  margin: calc(2 * 1em);
}

.m-3 {
  margin: calc(3 * 1em);
}

.m-4 {
  margin: calc(4 * 1em);
}

.m-5 {
  margin: calc(5 * 1em);
}

.m-t-1 {
  margin-top: calc(1 * 1em);
}

.m-t-2 {
  margin-top: calc(2 * 1em);
}

.m-t-3 {
  margin-top: calc(3 * 1em);
}

.m-t-4 {
  margin-top: calc(4 * 1em);
}

.m-t-5 {
  margin-top: calc(5 * 1em);
}

.m-r-1 {
  margin-right: calc(1 * 1em);
}

.m-r-2 {
  margin-right: calc(2 * 1em);
}

.m-r-3 {
  margin-right: calc(3 * 1em);
}

.m-r-4 {
  margin-right: calc(4 * 1em);
}

.m-r-5 {
  margin-right: calc(5 * 1em);
}

.m-b-1 {
  margin-bottom: calc(1 * 1em);
}

.m-b-2 {
  margin-bottom: calc(2 * 1em);
}

.m-b-3 {
  margin-bottom: calc(3 * 1em);
}

.m-b-4 {
  margin-bottom: calc(4 * 1em);
}

.m-b-5 {
  margin-bottom: calc(5 * 1em);
}

.m-l-1 {
  margin-left: calc(1 * 1em);
}

.m-l-2 {
  margin-left: calc(2 * 1em);
}

.m-l-3 {
  margin-left: calc(3 * 1em);
}

.m-l-4 {
  margin-left: calc(4 * 1em);
}

.m-l-5 {
  margin-left: calc(5 * 1em);
}

body {
  overflow: hidden;
  position: relative;
}

body .wrapper {
  height: 100vh;
  background: url(../images/bg/bgPattern.webp);
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  overflow-y: scroll;
}

body .wrapper::-webkit-scrollbar {
  width: 0.25em;
}

body .wrapper::-webkit-scrollbar-track {
  background: transparent;
}

body .wrapper::-webkit-scrollbar-thumb {
  background: #f3419b;
}

body .wrapper .top-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.2em;
  width: 90%;
  max-width: 250px;
  background-color: white;
  border-radius: 25px;
  border-top-left-radius: 90px;
  border-bottom-left-radius: 90px;
  border: #d2d2d2 1px solid;
  position: fixed;
  top: 0%;
  right: 40px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 10;
}

body .wrapper .content {
  margin-top: 40px;
  width: 90%;
}

.app {
  max-width: 568px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.theme-style-box {
  margin: 0.2em;
  padding: 0.2em;
  min-width: 120px;
  border: #d2d2d2 1px solid;
  border-radius: 5px;
  text-shadow: -0.75px -0.75px 0 white, 0.75px -0.75px 0 white, -0.75px 0.75px 0 white, 0.75px 0.75px 0 white, 2px 2px 2px white;
  background-color: white;
}

header {
  position: relative;
}

header .nav-open-btn {
  margin: 0.2em;
  padding: 0.2em;
  min-width: 120px;
  border: #a0a0a0 1px solid;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  text-shadow: -0.75px -0.75px 0 white, 0.75px -0.75px 0 white, -0.75px 0.75px 0 white, 0.75px 0.75px 0 white, 2px 2px 2px white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, white), color-stop(52%, #f2f2f2), color-stop(54%, #dedede));
  background: linear-gradient(white 50%, #f2f2f2 52%, #dedede 54%);
  -webkit-box-shadow: 1px 1px 2px #9c9c9c;
          box-shadow: 1px 1px 2px #9c9c9c;
  margin-right: 0.4em;
  position: fixed;
  top: 0%;
  right: 0%;
  min-width: 30px;
  max-width: 30px;
  height: 30px;
  padding: 0.4em;
  color: #f3419b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 1;
}

header .nav-bar {
  width: 100vw;
  position: fixed;
  top: 30%;
  left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  z-index: 10;
}

header .nav-bar nav {
  max-width: 414px;
  margin: 0.5em;
  padding: 0.5em;
  border: #d2d2d2 1px solid;
  -webkit-box-shadow: 1px 1px 2px #9c9c9c;
          box-shadow: 1px 1px 2px #9c9c9c;
  border-radius: 5px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

header .nav-bar nav .nav-title {
  width: 100%;
  margin: 0 2em;
  border-bottom: #f3419b 1px solid;
}

header .nav-bar nav .nav-title p {
  font-weight: bold;
}

header .nav-bar nav span {
  position: absolute;
  left: 20px;
  top: 10px;
}

header .nav-bar nav span img {
  max-width: 20px;
}

header .nav-bar nav ul {
  margin-top: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .nav-bar nav ul li a {
  margin: 0.2em;
  padding: 0.2em;
  min-width: 120px;
  border: #a0a0a0 1px solid;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  text-shadow: -0.75px -0.75px 0 white, 0.75px -0.75px 0 white, -0.75px 0.75px 0 white, 0.75px 0.75px 0 white, 2px 2px 2px white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, white), color-stop(52%, #f2f2f2), color-stop(54%, #dedede));
  background: linear-gradient(white 50%, #f2f2f2 52%, #dedede 54%);
  -webkit-box-shadow: 1px 1px 2px #9c9c9c;
          box-shadow: 1px 1px 2px #9c9c9c;
  display: inline-block;
  position: relative;
}

header .nav-bar nav ul li a span {
  position: absolute;
  left: 3px;
  top: 1.5px;
}

header .nav-bar nav ul li a span img {
  max-width: 25px;
}

@media only screen and (min-width: 320px) {
  .grid-xs-1 {
    width: calc(100% / 12 * 1);
  }
  .grid-xs-2 {
    width: calc(100% / 12 * 2);
  }
  .grid-xs-3 {
    width: calc(100% / 12 * 3);
  }
  .grid-xs-4 {
    width: calc(100% / 12 * 4);
  }
  .grid-xs-5 {
    width: calc(100% / 12 * 5);
  }
  .grid-xs-6 {
    width: calc(100% / 12 * 6);
  }
  .grid-xs-7 {
    width: calc(100% / 12 * 7);
  }
  .grid-xs-8 {
    width: calc(100% / 12 * 8);
  }
  .grid-xs-9 {
    width: calc(100% / 12 * 9);
  }
  .grid-xs-10 {
    width: calc(100% / 12 * 10);
  }
  .grid-xs-11 {
    width: calc(100% / 12 * 11);
  }
  .grid-xs-12 {
    width: calc(100% / 12 * 12);
  }
  body .wrapper .app .top-box .top-box-title-icon {
    position: absolute;
    top: 15%;
    left: 5%;
  }
  body .wrapper .app .top-box .top-box-title-icon img {
    width: 20%;
  }
  body .wrapper .app .top-box .search-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  body .wrapper .app .top-box .search-box h4 {
    display: inline-block;
  }
  body .wrapper .app .top-box .search-box input {
    margin: 0.4em;
    min-width: 140px;
    border: white;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 2px #9c9c9c;
            box-shadow: 1px 1px 2px #9c9c9c;
  }
  body .wrapper .app .top-box .search-box input:focus {
    outline-color: #f3419b;
  }
  body .wrapper .app .content .state-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(../images/Box/StateBox/bg.webp);
    background-position: center;
    background-size: cover;
  }
  body .wrapper .app .content .state-box .state-box-title {
    width: 80%;
  }
  body .wrapper .app .content .state-box .state-img {
    width: 20%;
  }
  body .wrapper .app .content .stock-box {
    background-image: url(../images/Box/StockBox/bg.webp);
    background-position: center;
    background-size: cover;
  }
  body .wrapper .app .content .stock-box .stock-item-class {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  body .wrapper .app .content .stock-box .stock-item-class .stock-class-label1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    border-bottom: #d2d2d2 1px solid;
  }
  body .wrapper .app .content .stock-box .stock-item-class .stock-class-label1 .stock-item-box-title {
    width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    text-align: right;
  }
  body .wrapper .app .content .stock-box .stock-item-class .stock-class-label1 .stock-item-box-title:nth-of-type(1) {
    width: 20%;
    text-align: center;
  }
  body .wrapper .app .content .stock-box .stock-item-class .stock-class-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  body .wrapper .app .content .stock-box .stock-item-class .stock-class-content .item-class {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    border-bottom: #d2d2d2 1px solid;
  }
  body .wrapper .app .content .stock-box .stock-item-class .stock-class-content .item-class:nth-last-of-type(1) {
    border-bottom: none;
  }
  body .wrapper .app .content .stock-box .stock-item-class .stock-class-content .item-class .item-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  body .wrapper .app .content .stock-box .stock-item-class .stock-class-content .item-class .item-box li {
    width: 100%;
    text-align: right;
  }
  body .wrapper .app .content .stock-box .stock-item-class .stock-class-content .item-class .item-box:nth-of-type(1) {
    width: 20%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .wrapper .app .content .stock-box .stock-item-class .stock-class-content .item-class .item-box:nth-of-type(1) li {
    width: 100%;
    text-align: center;
  }
  body .wrapper .app .content .hint-box p span {
    color: #f3419b;
  }
  body .wrapper .app .content .hint-box iframe {
    width: 100%;
    height: 200px;
    border: #d2d2d2 1px solid;
    border-radius: 5px;
  }
  body .wrapper .app .content .hint-box .hint-box-continue-btn {
    margin: 0.2em;
    padding: 0.2em;
    min-width: 120px;
    border: #a0a0a0 1px solid;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    text-shadow: -0.75px -0.75px 0 white, 0.75px -0.75px 0 white, -0.75px 0.75px 0 white, 0.75px 0.75px 0 white, 2px 2px 2px white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, white), color-stop(52%, #f2f2f2), color-stop(54%, #dedede));
    background: linear-gradient(white 50%, #f2f2f2 52%, #dedede 54%);
    -webkit-box-shadow: 1px 1px 2px #9c9c9c;
            box-shadow: 1px 1px 2px #9c9c9c;
    max-width: 300px;
  }
  body .wrapper .app .content .affirm-box {
    line-height: 1.5em;
    background-image: url(../images/Box/AffirmBox/bg.webp);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
  }
  body .wrapper .app .content .affirm-box p {
    padding: 0.5em 0;
    text-indent: 2em;
  }
}

@media only screen and (min-width: 768px) {
  .grid-m-1 {
    width: calc(100% / 12 * 1);
  }
  .grid-m-2 {
    width: calc(100% / 12 * 2);
  }
  .grid-m-3 {
    width: calc(100% / 12 * 3);
  }
  .grid-m-4 {
    width: calc(100% / 12 * 4);
  }
  .grid-m-5 {
    width: calc(100% / 12 * 5);
  }
  .grid-m-6 {
    width: calc(100% / 12 * 6);
  }
  .grid-m-7 {
    width: calc(100% / 12 * 7);
  }
  .grid-m-8 {
    width: calc(100% / 12 * 8);
  }
  .grid-m-9 {
    width: calc(100% / 12 * 9);
  }
  .grid-m-10 {
    width: calc(100% / 12 * 10);
  }
  .grid-m-11 {
    width: calc(100% / 12 * 11);
  }
  .grid-m-12 {
    width: calc(100% / 12 * 12);
  }
}
/*# sourceMappingURL=style.css.map */