@import "reset", "grid", "space";

@media only screen and (min-width: 320px) {
    @include phone-grid-s;
    $themeColor: rgb(243, 65, 155);

    @mixin theme-btn-style {
        margin       : 0.2em;
        padding      : 0.2em;
        min-width    : 120px;
        border       : rgba(160, 160, 160, 255) 1px solid;
        border-radius: 5px;
        font-weight  : bold;
        text-align   : center;
        text-shadow  :
            -0.75px -0.75px 0 white,
            0.75px -0.75px 0 white,
            -0.75px 0.75px 0 white,
            0.75px 0.75px 0 white,
            2px 2px 2px white,
        ;
        background: linear-gradient(rgba(255, 255, 255, 255) 50%, rgba(242, 242, 242, 255) 52%, rgba(222, 222, 222, 255) 54%);
        box-shadow: 1px 1px 2px rgb(156, 156, 156);
    }

    body {
        // background-color: rgb(218, 218, 218);
        position: relative;

        header {
            position: relative;

            .nav-open-btn {
                @include theme-btn-style;
                position       : fixed;
                top            : 0%;
                right          : 0%;
                min-width      : 30px;
                max-width      : 30px;
                height         : 30px;
                padding        : 0.4em;
                color          : $themeColor;
                display        : flex;
                justify-content: center;
                align-items    : center;
                cursor         : pointer;
            }

            .nav-bar {
                width          : 100vw;
                position       : fixed;
                top            : 30%;
                left           : 0%;
                display        : flex;
                justify-content: center;
                transform      : scale(0);
                transition     : all 250ms ease;

                nav {
                    max-width       : 414px;
                    margin          : 0.5em;
                    padding         : 0.5em;
                    border       : rgba(160, 160, 160, 255) 1px solid;
                    box-shadow: 1px 1px 2px rgb(156, 156, 156);
                    border-radius   : 5px;
                    background-color: white;
                    display         : flex;
                    flex-wrap       : wrap;
                    justify-content : center;
                    position        : relative;

                    .nav-title {
                        width        : 100%;
                        margin       : 0 2em;
                        border-bottom: $themeColor 1px solid;

                        p {
                            font-weight: bold;
                        }
                    }

                    span {
                        position: absolute;
                        left    : 20px;
                        top     : 10px;

                        img {
                            max-width: 20px;
                        }
                    }

                    ul {
                        margin-top     : 0.5em;
                        display        : flex;
                        flex-wrap      : wrap;
                        justify-content: center;

                        li {
                            a {
                                @include theme-btn-style;
                                display : inline-block;
                                position: relative;

                                span {
                                    position: absolute;
                                    left    : 3px;
                                    top     : 1.5px;

                                    img {
                                        max-width: 25px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .wrapper {
            background: url(../images/bg/bgPattern.webp);
            background-attachment: fixed;

            #app {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                overflow: hidden;

                .top-box {
                    margin-top               : 0.2em;
                    width                    : 80%;
                    max-width: 250px;
                    background-color         : rgb(239, 239, 239);
                    border-radius            : 25px;
                    border-top-left-radius   : 90px;
                    border-bottom-left-radius: 90px;
                    box-shadow: 1px 1px 2px rgb(156, 156, 156);
                    position                 : fixed;
                    top                      : 0%;
                    right                    : 40px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-end;

                    .top-box-title-icon{
                        position: absolute;
                        top: 15%;
                        left: 5%;
                        img{
                            width: 20%;
                        }
                    }

                    .search-box {
                        position       : relative;
                        display        : flex;
                        flex-wrap      : wrap;
                        justify-content: flex-end;
                        align-items    : center;

                        h4 {
                            display: inline-block;
                        }

                        input {
                            width        : 30%;
                            max-width    : 75px;
                            min-width    : 70px;
                            border       : white;
                            border-radius: 10px;
                            box-shadow: 1px 1px 2px rgb(156, 156, 156);
                        }

                        a {
                            @include theme-btn-style;
                            margin         : 0;
                            padding        : 0.4em;
                            min-width      : 0px;
                            color          : $themeColor;
                            border-radius  : 50%;
                            justify-content: center;
                            align-items    : center;
                            display        : inline-flex;
                            transform      : scale(0.8);
                        }
                    }
                }

                .content {
                    margin-top: 35px;
                    width: 80%;

                    .state-box {

                        .state-box-title {

                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    @include table-grid;
}