<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>庫存</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        referrerpolicy="no-referrer" />
</head>

<body>
    <header></header>
    <div id="wrapper" class="wrapper">
        <div id="app" class="app">
            <div id="top-box" class="top-box">
                <div class="search-box">
                    <p>日期查詢</p>
                    <input type="date" v-model="selectToday"
                        @change="changeDay(changeStr(selectToday),changeStrTW(selectToday))">
                </div>
            </div>
            <div id="content" class="content">
                <div class="state-box theme-style-box">
                    <div class="state-box-title">
                        <h4 v-if="fullDateTW === ''">目前查詢日期：{{selectToday}}</h4>
                        <h4 v-else>目前查詢日期：{{changeStrTW(selectToday)}}</h4>
                        <p>資料請求結果：<span>{{ hintState }}</span></p>
                        <p style="color: rgb(243, 65, 155);">{{ hintMessage }}</p>
                    </div>
                    <div class="state-img">
                        <img src="../../images/Box/StateBox/ok.webp" alt="" v-if="hintState === '成功'">
                        <img src="../../images/Box/StateBox/ex.webp" alt="" v-else-if="hintState === '成功，但是~'">
                        <img src="../../images/Box/StateBox/err.webp" alt="" v-else>
                    </div>
                </div>
                <div id="stock-box" class="stock-box theme-style-box">
                    <div class="stock-item-class">
                        <div class="stock-class-label1">
                            <div class="stock-item-box-title">名稱</div>
                            <div class="stock-item-box-title">市/均價</div>
                            <div class="stock-item-box-title">股數</div>
                            <div class="stock-item-box-title">損益</div>
                        </div>
                        <div class="stock-class-content">
                            <div class="item-class" v-for="(item, key) in dataObjClass">
                                <div id="stock-name" class="item-box">
                                    <li>{{ item.sName }}</li>
                                </div>
                                <div id="marketPrice" class="item-box">
                                    <li v-if="hintMessage === ''">{{ item.marketPrice[0] }}</li>
                                    <li v-else style="color: rgb(243, 65, 155);">-</li>
                                    <li>{{ item.averagePrice[0] }}</li>
                                </div>
                                <div id="numberOfPiles" class="item-box">
                                    <li>{{ item.numberOfPiles[0] }}</li>
                                </div>
                                <div id="profitAndLoss" class="item-box">
                                    <li v-if="hintMessage === '' && item.profitAndLoss[0] > 0" style="color: red;">{{
                                        item.profitAndLoss[0] }}</li>
                                    <li v-else-if="hintMessage === '' && item.profitAndLoss[0] < 0"
                                        style="color: limegreen;">{{ item.profitAndLoss[0] }}</li>
                                    <li v-else style="color: rgb(243, 65, 155);">-</li>
                                    <li v-if="hintMessage === '' && item.profitAndLoss[0] > 0" style="color: red;">{{
                                        item.profitAndLossPercentage[0] }}%</li>
                                    <li v-else-if="hintMessage === '' && item.profitAndLoss[0] < 0"
                                        style="color: limegreen;">{{ item.profitAndLossPercentage[0] }}%</li>
                                    <li v-else style="color: rgb(243, 65, 155);">-%</li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="hint-box" class="hint-box theme-style-box">
                    <p>請點擊下方的<br><span>「Request temporary access to the demo server」<br></span>按鈕後再按<span>「繼續」</span>
                    </p>
                    <iframe src="https://cors-anywhere.herokuapp.com/" frameborder="0" scrolling="no"></iframe>
                    <div id="hint-box-continue-btn" class="hint-box-continue-btn">繼續</div>
                </div>
                <div class="affirm-box theme-style-box">
                    <h4>本站說明：</h4>
                    <p>本站使用之計算公式為「元大證券」計算公式，若經本站計算後與您實際金額有落差，請以您APP內之金額為準，本站金額勤提供參考。</p>
                    <p>本站取得每日股價來源為「台灣證券交換所」公佈之股價，若您發現有誤請回報錯誤~~</p>
                    <p>本站所使用之網路資源皆為免費資源，故載入時會有些許延遲請使用者見諒。</p>
                    <p>由於資訊安全協議，本站獲取資料需要透過代理伺服器取得，代理伺服器因為是免費資源所以每分鐘都有請求限制，所以請不要一直重複重整。</p>
                    <p>如果顯示為「-」，即代表當日未來日期、未收盤、開市或該支股票停止交易</p>
                </div>
            </div>
            <!-- <div id="date" class="item-box">
                    <div class="item-box-title">編號</div>
                    <li v-for="(item, key) in item">{{ item.stockNo }}</li>
                </div>
                <div id="date" class="item-box">
                    <div class="item-box-title">日期</div>
                    <li v-for="(itemList, key) in dataObjClass">{{ itemList.date[0] }}</li>
                </div>
                <div id="marketValue" class="item-box">
                    <div class="item-box-title">市值</div>
                    <li v-for="(itemList, key) in dataObjClass">{{ itemList.marketValue[0] }}</li>
                </div>
                <div id="carryingCosts" class="item-box">
                    <div class="item-box-title">持有成本</div>
                    <li v-for="(itemList, key) in dataObjClass">{{ itemList.carryingCosts[0] }}</li>
                </div>
                <div id="anticipatedRevenue" class="item-box">
                    <div class="item-box-title">預估收入</div>
                    <li v-for="(itemList, key) in dataObjClass">{{ itemList.anticipatedRevenue[0] }}</li>
                </div> -->
        </div>
    </div>
</body>
<script src="https://unpkg.com/vue@next"></script>
<script type="text/javascript" src="../../js/StockCalculation.js"></script>
<script type="text/javascript" src="../../js/StockData.js"></script>
<script type="text/javascript" src="../../js/control.js"></script>

</html>